#layout{
	height: 100vh;
}

#layout .logo{
	height: 32px;
	margin: 16px;
	background: rgba(255,255,255,.2);
	border-radius: 6px;
	text-align: center;
	line-height: 32px;
	color: #fff;
	font-size: 18px;
	font-weight:bolder;
}

.header-box{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-btn{
	margin-right: 20px;
}